<!-- MENU -->
  <aside class="menu">
    <section>

      <ul class="table-view">
        <li class="table-view-cell media">
          <a class="navigate-right" href="meuperfil.html" data-ignore="push">
            
            <div class="media-object pull-left text-center"><span class="fa fa-user"></span></div>
            <div class="media-body">
              <p>Fulano</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="index.html" data-ignore="push">
            
            <div class="media-object pull-left text-center"><span class="fa fa-home"></span></div>
            <div class="media-body">
              <p>Home</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="ranking.html" data-ignore="push">
            
            <div class="media-object pull-left text-center"><span class="fa fa-signal"></span></div>
            <div class="media-body">
              <p>Ranking</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="#ModalPreferencias">
            
            <div class="media-object pull-left text-center"><span class="fa fa-sliders"></span></div>
            <div class="media-body">
              <p>Preferências</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="#ModalProcurarUsuarios">
            
            <div class="media-object pull-left text-center"><span class="fa fa-search"></span></div>
            <div class="media-body">
              <p>Procurar</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="#ModalConfiguracoes">
            
            <div class="media-object pull-left text-center"><span class="fa fa-wrench"></span></div>
            <div class="media-body">
              <p>Configurações</p>
            </div>
          </a>
        </li>
      </ul>

    </section>
  </aside>