body {
	background-color: rgb(253, 252, 251);
}

.flex-center {
	-webkit-align-items: center;
		align-items: center;			
	display: -webkit-flex;
		display: flex;
	-webkit-justify-content: center;
		justify-content: center;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }
.float-right { float: right; }
.float-left { float: left; }
.padding5-top { padding-top: 5px; }
.margin10-right { margin-right: 10px; }

#page-inicio {	
	background-color: #F3F3F3;	
}



/*
	Combo file
*/
.main-preview {
	-webkit-align-items: center;
		align-items: center;

	display: -webkit-flex;
		display: flex;

	-webkit-flex-direction: column;
		flex-direction: column;

	padding-bottom: 20px;
	padding-top: 20px;

	& > div {
		background-color: #fff;		
		width: 95vw;

		&:nth-of-type(2) {
			box-shadow: 0px 3px 4px #C1C1C1;

			span {
				padding-left: 5px;
			}
		}
	}

	.combo-preview {
		background-color: red;
		position: relative;		

		& > img {
			width: 100%;
		}
	}

	.main-status {
		///background-color: tomato;

		-webkit-align-items: center;
			align-items: center;
		-webkit-display: flex;
			display: flex;
		-webkit-justify-content: center;
			justify-content: center;

		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		& > div {			
			border-radius: 10px;

			&.preview-status { //Status				
				
				& > div {
					display: none;
				}
			}

			&.preview-tempo { //tempo do arquivo
				background-color: rgba(0,0,0, .5);
				bottom: 0;
				box-sizing: content-box;
				color: #fff;				
				font-size: 12px;
				height: 20px;
				line-height: 20px;
				left: 0;
				margin: 5px;
				padding: 0 10px;
				position: absolute;
				
				i {
					font-size: 20px;
					float: left;
				}

				span {
					float: left;
				}

			}
		}
	}

	//
	// Play
	//
	&[data-file-status="play"] {
		.preview-status {
			background-color: rgba(0,0,0, .5);
			border-radius: 20px;
			height: 40px;
			width: 40px;
		}
		.preview-status-play {
			display: block !important;
		}
		.preview-status i {
			color: #fff;
			font-size: 40px;
		}
	}

	//
	// Down
	//
	&[data-file-status="down"] {
		.preview-status {
			background-color: rgba(0,0,0, .5);
			border-radius: 25px;			
			height: 40px;
			line-height: 40px;
			width: 100px;
		}
		.preview-status-down {
			display: block !important;
		}
		.preview-status i {
			border-radius: 25px;
			border: 2px solid #fff;
			color: #fff;
			font-size: 25px;
			margin: 5px;
			-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
		}
		.preview-status span {			
			color: #fff;
			float: right;
			margin-right: 10px;
		}

	}


	//
	// Load
	// Baixando o vídeo..
	//
	&[data-file-status="load"] {
		.preview-status {
			background-color: rgba(0,0,0, .5);
			border-radius: 10px;
			
			line-height: 30px;
			height: 30px;

			width: 200px;
		}
		.preview-status-load {
			box-sizing: content-box;
			display: block !important;			
			padding: 0 10px;
		}
		.preview-status i {
			color: #fff;
			float: right;
			font-size: 30px;
		}
	}


	//
	// Imagem
	//
	&[data-file-type="imagem"] {
		.preview-status { display: none; }
		.preview-tempo { display: none; }
	}


	.mdl-mega-footer {
		color: rgb(216, 216, 216);
		padding: 5px 10px;
	}

}








/*
	Modal
*/
.modal {	
	background-color: rgb(245, 244, 244);
	bottom: 0;	
	height: 0vh;
	overflow-y: auto;
	position: fixed;
	transition: height .25s;
	width: 100vw;
	z-index: 4;

	&.is-visible {
		height: 100vh;
	}

	header > .material-icons {
		font-size: 30px;
		padding: 6px;
		margin: 4px;
	}

	& > header {
		-webkit-align-items: center;
			align-items: center;
		background-color: rgb(63,81,181);
		color: #fff;
		display: -webkit-flex;
			display: flex;
		height: 56px;	
		padding:0 5px;
	}

	
}



#modal-procurados {
	table {
		width: 100%;
	}

	tr > td:nth-of-type(1) {
		text-align: left;
	}
	tr > td:nth-of-type(2) {
		text-align: right;
	}

	.mdl-badge:after {
		border-radius: 10px;
		min-width: 50px;
		top: 0;		
		width: auto;
	}
}




#modal-perfil, #modal-meuperfil {

	.mdl-card {
		background:url('https://placehold.it/256x256') no-repeat center;
		background-size: auto 200px;
		width: 100%; 
	}

	.demo-card-image > .mdl-card__actions {		
	  	height: 52px;
	  	padding: 16px;
	  	background: rgba(0, 0, 0, 0.2);

	  	span {
	  		color: #000;
	  		font-size: 20px;
	  	}
	}
	.demo-card-image__filename {
	  color: #fff;
	  font-size: 14px;
	  font-weight: 500;
	}
}