<!-- Simple header with fixed tabs. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Início</span>

          <div class="mdl-layout-spacer"></div>

          <!-- BOTOES SEARCH e  -->
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">&#xE8B6;</i>
          </button>
          <!-- Right aligned menu below button -->
          <button id="menu-tipo-arquivos" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>          
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-tipo-arquivos">
            <li class="mdl-menu__item"><i class="material-icons">&#xE0B8;</i> Todos</li>
            <li class="mdl-menu__item"><i class="material-icons">&#xE02C;</i> Vídeos</li>            
            <li class="mdl-menu__item"><i class="material-icons">&#xE251;</i> Imagens</li>
            <li><hr></li>
            <li class="mdl-menu__item"><i class="material-icons">&#xE03F;</i> Recentes</li>
            <li class="mdl-menu__item"><i class="material-icons">&#xE01D;</i> Popular</li>
            
          </ul>
          
      </div>
      <!-- Tabs -->
      <!-- <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">VÍDEOS</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab">IMAGENS</a>        
      </div> -->      
    </header>
    
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">YouZuera</span>
      <nav class="mdl-navigation">        
        <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">home</i> Início</a>
        <a class="mdl-navigation__link" data-modal="#modal-meuperfil"><i class="material-icons" role="presentation">person_outline</i> Meu Canal</a>
        <a class="mdl-navigation__link" data-modal="#modal-favoritos"><i class="material-icons" role="presentation">favorite</i> Meus Favoritos</a>
        <a class="mdl-navigation__link" data-modal="#modal-procurados"><i class="material-icons" role="presentation">whatshot</i> Mais procurados</a>
        <a class="mdl-navigation__link" data-modal="#modal-envie"><i class="material-icons" role="presentation">file_upload</i> Envie sua zuera</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">share</i> Compartilhe o YouZuera</a>
        <a class="mdl-navigation__link" href="">Grupo</a>
        <a class="mdl-navigation__link" href="">Grupo</a>
        <a class="mdl-navigation__link" href="">Grupo</a>
        <a class="mdl-navigation__link" href="">Grupo</a>
        <a class="mdl-navigation__link" href="">Grupo</a>              
      </nav>
    </div>
