<!--
   - Modal
   -	Favoritos   
   -->
<section class="modal is-visible" id="modal-favoritos">
  	<!-- Header modal -->  
    <header>
      <i class="material-icons" role="presentation">arrow_back</i>      
       <span class="mdl-layout-title">Meus Favoritos</span>  
  </header>

  <!-- Content modal -->  
  <article>

  <!-- BOX 1 -->  
   	<div class="mdl-grid combo-file">
  		<div class="mdl-cell  mdl-cell--12-col" data-file-status="play" data-file="files/1.mp4">  			
  			<div class="previa-file">
  				<img src="files/1.jpg" alt="">

  				<div class="loading-play">  					
  					<div class="status down">
  						<i class="material-icons" role="presentation">arrow_drop_down</i>
  						<span>2,8MB</span>
  					</div>
  					<div class="status load">  						
  						<div>
  							<progress value="22" max="100"></progress>
  						</div>  						
  						<i class="material-icons" role="presentation">close</i>
  					</div>
  					<div class="status play">
  						<i class="material-icons" role="presentation">play_arrow</i>  						
  					</div>
  				</div>

  			</div>
			<div>
				<div class="mdl-grid mdl-grid--no-spacing">
					<div class="mdl-cell  mdl-cell--12-col">
						Um comentário aqui
					</div>
					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet">
						10214 <small>views</small>
					</div>
					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet text-right">
						1021401 <small>downloads</small>
					</div>

					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet">
						<a href="#">Eduardo</a>
					</div>
					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet text-right">
						<i class="material-icons no-padding" role="presentation">file_download</i>
						<i class="material-icons no-padding" role="presentation">favorite</i>
					</div>
				</div>
			</div>
  		</div>
  	</div>
  	<!-- ./BOX 1 -->  

  	<!-- BOX 2 -->  
   	<div class="mdl-grid combo-file">
  		<div class="mdl-cell  mdl-cell--12-col" data-file-status="play" data-file="files/1.mp4">  			
  			<div class="previa-file">
  				<img src="files/1.jpg" alt="">

  				<div class="loading-play">  					
  					<div class="status down">
  						<i class="material-icons" role="presentation">arrow_drop_down</i>
  						<span>2,8MB</span>
  					</div>
  					<div class="status load">  						
  						<div>
  							<progress value="22" max="100"></progress>
  						</div>  						
  						<i class="material-icons" role="presentation">close</i>
  					</div>
  					<div class="status play">
  						<i class="material-icons" role="presentation">play_arrow</i>  						
  					</div>
  				</div>

  			</div>
			<div>
				<div class="mdl-grid mdl-grid--no-spacing">
					<div class="mdl-cell  mdl-cell--12-col">
						Um comentário aqui
					</div>
					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet">
						10214 <small>views</small>
					</div>
					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet text-right">
						1021401 <small>downloads</small>
					</div>

					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet">
						<a href="#">Eduardo</a>
					</div>
					<div class="mdl-cell  mdl-cell--2-col mdl-cell--4-col-tablet text-right">
						<i class="material-icons no-padding" role="presentation">file_download</i>
						<i class="material-icons no-padding" role="presentation">favorite</i>
					</div>
				</div>
			</div>
  		</div>
  	</div>
  	<!-- ./BOX 2 -->  


  </article>
</section>
