    <!-- MY SCRIPTS -->
    <script type="text/javascript" src="js/defaultData.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    
    <!-- REACT -->
	<script src="js/build/react.js"></script>
	<script src="js/build/react-dom.js"></script>
	<script src="js/build/browser.min.js"></script>
    <script type="text/babel" src="js/components.js"></script>

    <!-- RATCHET e MODERNIZR -->
	<script type="text/javascript" src="lib/ratchet-v2.0.2/js/ratchet.js"></script>
    <script type="text/javascript" src="lib/jquery-2.1.3.min.js"></script>
    <script src="lib/modernizr.custom.26039-CSS-Calc-e-Unit.js"></script> <!-- MODERNIZR CALC() E UNIT -->
    
    <!-- MY SCRIPTS -->
    <!--script type="text/javascript" src="js/backend.js"></script--> 
    
  </body>
</html>