<!DOCTYPE html>
<html lang="pt-br" Xmanifest="appcache.manifest">
  <head>
    <title>Topkiss</title>

    <!-- Meta -->
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="manifest" href="manifest.json">

    <!-- LIB'S -->        
    <link rel="stylesheet" href="lib/font-awesome.min.css">
    <link rel="stylesheet" href="lib/ratchet-v2.0.2/css/ratchet.min.css">    
    
    <!-- Syntax Highlight -->        
    <link rel="stylesheet" href="style/style.css">    

  </head>
  
  <body>